{% extends 'base.html' %}

{% load static %}
{% load humanize %}

{% block title %}
<title>Стоматология, стоматологическая клиника в Николаеве Денталекс</title>
{% endblock %}

{% block content %}
		<!-- The page -->
        <div class="page">
            <div id="header">
                <a href="#menu"><span></span></a>
                ДентаЛекс
            </div>
            <div class="content">
              {% include 'includes/header.html' %}
               <div class="wrap-custom-banner">
                  <div class="banner">
                    <div class="owl-carousel" id="owl_1">
                      <div class="banner-carousel-item">
                        <img src= '{{ data_banner.banner_photo_1.url }}' alt="Изображение банер">
                        <div class="wrap-adv">
                          <h2 class="adv" id="a_d_v">{{ data_banner.banner_ad }}</h2>
                        </div>    
                      </div>
                       <div class="banner-carousel-item">
                        <img src="{{ data_banner.banner_photo_2.url }}" alt="Изображение банер">
                        <div class="wrap-adv"> <h2 class="adv">Денталекс</h2></div>
                      </div>
                        <div class="banner-carousel-item">
                          <img src="{{ data_banner.banner_photo_3.url }}" alt="Изображение банер">
                          <div class="wrap-adv">
                            <h2 class="adv">Денталекс</h2>
                          </div>
                        </div>
                        {% if data.banner_photo_4 %}
                          <div class="banner-carousel-item">
                          <img src="{{ data_banner.banner_photo_4.url }}" alt="Изображение банер">
                          <div class="wrap-adv">
                            <h2 class="adv">Денталекс</h2>
                          </div>
                        </div>
                        {% endif %}
                    </div>
                  </div>  
               </div>
               <section class="smiles" id="smiles_section">
                <div class="wrap-smiles container">
                 <h1 class="dentalex-ad cap-tion">Стоматологія <span class="smiles-title"> <<ДентаЛекс>></span></h1>
                 <p class="dentalex-ad-body"> Подарувала більше ніж
                  <span class="quantity-ad-wrap">  
                  <span class="dentalex-ad-body-quantity">9500</span> + 
                  </span>
                  чарівних посмішок
                </p>
                </div>
               </section>
               <section class="offers">
                 <h2 class="cap-tion container">
                      Наші послуги
                 </h2>
                 <div class="wrap-offers-item container"> 
                  {% for item in data_service %}
                     <div class="offers-item">
                       <img src="{{ item.service_photo.url }}" alt="Изображение сервис услуги">
                       <h1 class="offers-item-inner">
                         <a href="{% url 'service_info' item.id %}">{{ item.service_title }}</a>
                       </div>
                       <div class="overlay"></div>
                     </h1>
                  {% endfor %}
                 </div>
                 <div class="wrap-more-service">
                  <a href="{% url 'services' %}" class="more-service">Більше послуг</a>  
                 </div>
               </section>
               <section class="ours-team">
                <div class="wrap-ours-team container">
                  <h2 class="cap-tion">
                    Наші світлини
                  </h2>
                  <div class="grid">
                    {% for item in data_gallery %}
                    <div class="grid-item"><img src="{{ item.photo.url }}" alt="Галерея"></div>
                    {% endfor %}
                  </div>
                </div>   
               </section>
               <!--Start reviews section -->
               <section class="reviews">
                <div class="wrap-reviews container">
                  <h3 class="cap-tion">
                    Наші відгуки
                  </h3>
                  <div class="swiper swiper-reviews">
                    <div class="swiper-wrapper">
                      {% for item in data_reviews %}
                      <div class="swiper-slide reviews-item">
                        <span class="reviews-name">{{ item.name }} :</span>
                        <article class="reviews-body">{{ item.body }}</article>
                        <span class="date">{{ item.created|date:"d M Y" }}</span>
                      </div>
                      {% endfor %}
                    </div>
                    <div class="reviews-pagination swiper-pagination"></div>
                  </div>
                  <div class="wrap-reviews-btn">
                    <button class="btn btn-primary btn-animation" type="button" id="add-review">Додати відгук</button>
                    <div class="wrap-form-reviews">
                      <form id="review-form">
                        <div class="mb-3">
                          <label for="review-name" class="form-label"> Ім'я </label>
                          <input type="text" class="form-control" id="review-name" placeholder="Ваше ім'я" name="review-name">
                        </div>
                        <div class="mb-3">
                          <label for="review-body" class="form-label"> Ваші відгуки </label>
                          <textarea class="form-control" id="review-body" rows="3" name="review-body"></textarea>
                        </div>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-animation" id="send-review">
                          Відправити
                        </button>
                      </form>
                    </div>
                  </div>  
                </div> 
               </section>
               <!--End reviews section -->
            {% include 'includes/footer.html' %}

            </div>
        </div>
{% endblock %}