{% extends 'base.html' %}

{% load static %}

{% block content %}
		<!-- The page -->
        <div class="page">
            <div id="header">
                <a href="#menu"><span></span></a>
                DENTALEX
            </div>
            <div class="content">
              {% include 'includes/header.html' %}
               <div class="wrap-custom-banner">
                  <div class="banner">
                    <div class="owl-carousel" id="owl_1">
                      <div class="banner-carousel-item">
                        <img src= '{{ data_banner.banner_photo_1.url }}'>
                        <div class="wrap-adv">
                          <h2 class="adv" id="a_d_v">{{ data_banner.banner_ad }}</h2>
                        </div>    
                      </div>
                       <div class="banner-carousel-item">
                        <img src="{{ data_banner.banner_photo_2.url }}">
                        <div class="wrap-adv"> <h2 class="adv">Dentalex</h2></div>
                      </div>
                        <div class="banner-carousel-item">
                          <img src="{{ data_banner.banner_photo_3.url }}">
                          <div class="wrap-adv">
                            <h2 class="adv">Dentalex</h2>
                          </div>
                        </div>
                        {% if data.banner_photo_4 %}
                          <div class="banner-carousel-item">
                          <img src="{{ data_banner.banner_photo_4.url }}">
                          <div class="wrap-adv">
                            <h2 class="adv">Dentalex</h2>
                          </div>
                        </div>
                        {% endif %}
                    </div>
                  </div>  
               </div>
               <section class="offers">
                 <h2 class="cap-tion container">
                      Наші послуги
                 </h2>
                 <div class="wrap-offers-item container"> 
                  {% for item in data_service %}
                     <div class="offers-item">
                       <img src="{{ item.service_photo.url }}">
                       <div class="offers-item-inner">
                         <a href="{% url 'service_info' item.id %}">{{ item.service_title }}</a>
                       </div>
                       <div class="overlay"></div>
                     </div>
                  {% endfor %}
                 </div>
                 <div class="wrap-more-service">
                  <a href="{% url 'services' %}" class="more-service">Більше послуг</a>  
                 </div>
               </section>
               <section class="ours-team">
                <div class="wrap-ours-team container">
                  <h2 class="cap-tion">
                    Наші світлини
                  </h2>
                  <div class="grid">
                    {% for item in data_gallery %}
                    <div class="grid-item"><img src="{{ item.photo.url }}"></div>
                    {% endfor %}
                  </div>
                </div>   
               </section>

            {% include 'includes/footer.html' %}

            </div>
        </div>
{% endblock %}