{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>{{ data_info.service_title }}</title>
{% endblock %}

{% block content %}
		<!-- The page -->
        <div class="page">
            <div id="header">
                <a href="#menu"><span></span></a>
                 ДентаЛекс
            </div>
            <div class="content">

              {% include 'includes/header.html' %}

              	 <article class="article"> 
                  <div class="container">
                    <div class="wrap-article">
                      <h1 class="cap-tion">{{ data_info.service_title }}</h1>
                      <div class="wrap-article-img">  
                         <img src="{{ data_info.service_photo.url }}" alt="Изображение сервис услуги">
                      </div>
                      <div class="description">
                      	<p>{{ data_info.service_description|safe }}</p>
                      </div>  
                    </div>
                    <div class="service-price">
                      {% if data_info.service_prise_flag %}
                      <h3 class="service-price-val"> Вартість послуги від <span class="val">{{ data_info.service_prise_from }}</span>
                      {% if data_info.service_prise_to %}
                        до <span class="val">{{data_info.service_prise_to}}</span>
                      {% endif %}
                       грн
                      </h3>
                      {% endif %}
                    </div>
                  </div>
                </article>

              {% include 'includes/footer.html' %}

      		</div>
        </div>
{% endblock %}