{% extends 'base.html' %}

{% load static %}

{% block title %}
<title>Услуги стоматологической клиники Денталекс</title>
{% endblock %}

{% block content %}
		<!-- The page -->
        <div class="page">
            <div id="header">
                <a href="#menu"><span></span></a>
                 ДентаЛекс
            </div>
            <div class="content">

              {% include 'includes/header.html' %}

              <section class="offers">
                 <h2 class="cap-tion container">
                      Наші послуги
                 </h2>
                 <div class="wrap-offers-item container"> 
                  {% for item in data_service %}
                     <div class="offers-item">
                       <img src="{{ item.service_photo.url }}" alt="Изображение сервис услуги">
                       <h1 class="offers-item-inner">
                         <a href="{% url 'service_info' item.id %}">{{ item.service_title }}</a>
                       </h1>
                       <div class="overlay"></div>
                     </div>
                  {% endfor %}
                 </div>
              </section>

              {% include 'includes/footer.html' %}

            </div>
        </div>
{% endblock %}