.mm-menu a, 
.mm-menu a:active, 
.mm-menu a:hover,  
.mm-menu a:link,  
.mm-menu a {
  font-size: 20px;
  padding: 20px;
}

.cap-tion {
  padding: 20px 0px;
  font-size: 40px;
  color: #240e0d;
  font-family: "Caveat", cursive;
}

.fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
}

body {
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  position: relative !important;
  -webkit-text-size-adjust: none;
}

a,
a:link,
a:active,
a:visited,
a:hover {
  color: inherit;
  text-decoration: underline;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#000, 70%, pink);
  z-index: 100;
}
#preloader img {
  display: inline-block;
  height: 100px;
  width: 100px;
}

#header {
  position: sticky;
  height: 50px;
  padding: 0 80px;
  top: 0;
  font-family: "Caveat", cursive;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  line-height: 44px;
  text-align: center;
  background: #65ab36;
  z-index: 10;
}

#header a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 50px;
  padding: 15px 25px;
}

#header a:before {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
}

#header a:after {
  content: "";
  display: block;
  background: #fff;
  height: 2px;
}

#header a span {
  background: #fff;
  display: block;
  height: 2px;
  margin: 7px 0;
}

#content {
  padding: 150px 50px 50px 50px;
  text-align: center;
}

nav:not(.mm-menu) {
  display: none;
}

#content {
  padding: 150px 50px 50px 50px;
  text-align: center;
}

.wrap-navbar {
  background-color: #fff;
}

.navigation {
  margin: 0px;
}
.navigation li {
  display: inline-block;
}

.navigation .active a, .navigation .active .lang {
  color: #65ab36;
}
.navigation .active a:after, .navigation .active .lang:after {
  display: block;
}

.navigation {
  text-align: center;
  padding: 0px;
}
.navigation li:hover {
  /*background-color: #cdcdcd*/
  opacity: 0, 1;
}
.navigation li:hover a, .navigation li:hover .lang {
  color: #65ab36;
}
.navigation li:hover a:after, .navigation li:hover .lang:after {
  display: block;
}
.navigation li a, .navigation li .lang {
  display: block;
  position: relative;
  text-decoration: none;
  padding: 40px 20px;
  font-size: 15px;
  font-weight: bold;
}
.navigation li a:after, .navigation li .lang:after {
  content: "";
  display: none;
  width: 100%;
  height: 10px;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background-color: #65ab36;
}
.navigation li:last-child {
  position: relative;
  transition: all 0.3s ease;
}
.navigation li:last-child:hover ul {
  transition: all 0.3s ease;
  display: block;
}
.navigation li:last-child:hover ul a, .navigation li:last-child:hover ul .lang:after {
  display: none;
}
.navigation li:last-child:hover ul a, .navigation li:last-child:hover ul .lang {
  color: #7a7a79;
}
.navigation li:last-child ul {
  transition: all 0.3s ease;
  display: none;
  background-color: #ededed;
  padding: 0px;
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
}
.navigation li:last-child ul li {
  display: block;
}
.navigation li:last-child ul li:hover a, .navigation li:last-child ul li:hover .lang {
  color: #65ab36;
  cursor: pointer;
}
.navigation li:last-child ul li a, .navigation li:last-child ul li .lang {
  padding: 5px 0px;
  display: block;
}

/*Styling logo*/
.wrap-logo {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
}
.wrap-logo .logo {
  cursor: pointer;
}
.wrap-logo .logo img {
  display: block;
  width: 100%;
  height: 50px;
}


/* Styling the carousel*/
.banner-carousel-item {
  height: 470px;
  width: 100%;
  position: relative;
}
.banner-carousel-item img {
  width: 100%;
  height: 100%;
}
.banner-carousel-item .wrap-adv {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 80%;
  display: inline-block;
  border-radius: 10px;
  padding: 10px;
  background-color: #cdcdcd;
  opacity: 0.3;
  z-index: 0;
}
.banner-carousel-item .wrap-adv .adv {
  position: relative;
  display: inline-block;
  font-weight: bold;
  font-size: 40px;
  color: #000;
  z-index: 1;
  background-color: transparent;
  opacity: 1;
}

.banner .owl-theme .owl-controls {
  margin-top: 30px;
}

.banner .owl-theme .owl-controls {
  position: absolute;
  width: 100%;
  bottom: 30px;
}

/*offers*/
.offers {
  /*margin: 30px 0px*/
  background-color: #ededed;
  padding: 15px 15px;
}

.wrap-offers-item {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.wrap-offers-item .offers-item {
  transition: 0.5s all ease;
  margin: 15px 15px;
  flex: 400px;
  height: 300px;
  position: relative;
}
.wrap-offers-item .offers-item img {
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.wrap-offers-item .offers-item .offers-item-inner {
  display: flex;
  /*text-align: center*/
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.5s all ease;
  width: 100%;
  height: 100%;
  text-align: center;
}
.wrap-offers-item .offers-item .offers-item-inner a {
  transition: 0.5s all ease;
  margin: auto;
  text-decoration: none;
  padding: 20px;
  font-size: 50px;
  color: #65ab36;
  text-shadow: 2px 0 4px #4e0b5c;
  line-height: 1.2;
}
.wrap-offers-item .offers-item .overlay {
  transition: 0.5s all ease;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background-color: #ededed;
  opacity: 0.2;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.wrap-offers-item .offers-item:hover .offers-item-inner {
  transition: 0.5s all ease;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 2;
}
.wrap-offers-item .offers-item:hover .offers-item-inner a {
  transition: 0.5s all ease;
  display: block;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  padding: 20px;
  border-radius: 10px;
  background-color: #65ab36;
}
.wrap-offers-item .offers-item:hover .overlay {
  transition: 0.5s all ease;
  top: 0;
  left: 0;
  display: block;
  position: absolute;
  background-color: rgba(238, 221, 238, 0.8666666667);
  opacity: 0.6;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.wrap-more-service {
  text-align: center;
}
.wrap-more-service .more-service {
  text-decoration: none;
  padding: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: relative;
  bottom: 0;
  left: 0;
  transition: 0.5s all ease;
  animation: translating 3s infinite linear;
  background-color: #65ab36;
  color: #fff;
  border-radius: 20px;
}
@keyframes translating {
  from {
    bottom: 0px;
  }
  25% {
    bottom: -5px;
  }
  50% {
    bottom: -10px;
  }
  75% {
    bottom: -5px;
  }
  to {
    bottom: 0px;
  }
}
.wrap-more-service .more-service:hover {
  font-size: 20px;
  color: #240e0d;
}

/*Icons styling*/
.facebook-icon,
.telegram-icon,
.instagram-icon,
.call-icon,
.location-icon {
  width: 40px;
  height: 40px;
  fill: #cdcdcd;
  transition: 0.5s all ease;
}

/*Styling social widget*/
.wrap-social-widget {
  width: 100%;
}

.social-widget {
  text-align: center;
  padding: 0px;
}
.social-widget .social-item {
  display: inline-block;
}
.social-widget .social-item a {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 10px;
}
.social-widget .social-item a svg {
  fill: #240e0d;
}
.social-widget .social-item:hover a svg {
  transition: 0.5s all ease;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  fill: #65ab36;
}

/*Styling social widget top*/
.wrap-social-widget-top {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.wrap-social-widget-top .social-widget {
  text-align: center;
  width: 100%;
  padding: 0px;
}
.wrap-social-widget-top .social-widget .social-item {
  display: inline-block;
}
.wrap-social-widget-top .social-widget .social-item a {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0px;
}
.wrap-social-widget-top .social-widget .social-item a svg {
  width: 100%;
  height: 100%;
}
.wrap-social-widget-top .social-widget .social-item:hover a {
  width: 20px;
  height: 20px;
}
.wrap-social-widget-top .social-widget .social-item:hover a svg {
  transition: 0.5s all ease;
  position: static;
  top: 0%;
  left: 0%;
  transform: translateY(0%);
  transform: translateX(0%);
  width: 110%;
  height: 110%;
  fill: #65ab36;
}

/*Styling contacts*/
.contacts {
  padding: 40px 0px 80px;
  background-color: #273830;
}
.contacts .wrap-contacts .contacts-geo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.contacts .cap-tion {
  color: #fff;
}

/*Geolocation popup*/
.geolocation-popup {
  display: none;
  position: fixed;
  width: 100%;
  min-height: 100%;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 20;
}
.geolocation-popup:before {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #332c4c;
  opacity: 0.5;
}
.geolocation-popup .wrap-maps {
  position: absolute;
  width: 500px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.geolocation-popup .wrap-maps .close-map {
  position: absolute;
  top: -30px;
  right: -30px;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  background-color: #000;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  transition: 0.5s all ease;
}
.geolocation-popup .wrap-maps .close-map:hover {
  transition: 0.5s all ease;
  transform: rotate(180deg);
}
.geolocation-popup .wrap-maps .maps {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 500px;
  height: 400px;
  z-index: 5;
}
.geolocation-popup .wrap-maps .maps iframe {
  width: 100%;
  height: 100%;
}

/*Mmenu styling*/
.mm-listitem .social-mmenu svg {
  width: 20px;
  height: 20px;
}

.contacts-address .ours-contacts {
  color: #fff;
  text-align: center;
}
.contacts-address ul li {
  margin: 10px 0px;
  font-size: 20px;
  color: #fff;
}

/*Ours team styling*/
.ours-team {
  background-color: #ededed;
  padding: 20px 0px;
}

.wrap-ours-team .grid .grid-item,
.wrap-ours-team .grid .grid-sizer {
  width: 33.3%;
  height: 200px;
}
.wrap-ours-team .grid .grid-item img,
.wrap-ours-team .grid .grid-sizer img {
  width: 100%;
  height: 100%;
}
.wrap-ours-team .grid .grid-item-width2 {
  width: 66.6%;
  height: 400px;
}

/*Styling article*/
.article {
  background-color: #ededed;
  padding: 20px 0px;
}

.wrap-article {
  display: flex;
  flex-direction: column;
}
.wrap-article h1 {
  text-align: center;
}
.wrap-article .description {
  margin: 40px 0px;
}

.wrap-article-img img {
  width: 100%;
  height: 400px;
}
/*Start section team*/
.team {
  background-color: #ededed;
}
.team .wrap-team-item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px 60px 0px;
}
.team .wrap-team-item .team-item {
  padding: 20px;
}
.team .wrap-team-item .team-item .team-photo img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0px 0px 5px #65ab36;
}
.team .wrap-team-item .team-item .team-inner {
  padding: 20px 0px;
}
.team .wrap-team-item .team-item .team-inner .team-position {
  text-align: center;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 25px;
}
.team .wrap-team-item .team-item .team-inner .team-name {
  text-align: center;
  display: block;
  margin-top: 20px;
  font-size: 25px;
}
/*End section team*/

/*Slick gallery start*/
.swiper-pagination-bullet {
    width: var(--swiper-pagination-bullet-width,var(--swiper-pagination-bullet-size,8px));
    height: var(--swiper-pagination-bullet-height,var(--swiper-pagination-bullet-size,8px));
    display: inline-block;
    border-radius: 50%;
    background: var(--swiper-pagination-bullet-inactive-color,#fff);
    opacity: var(--swiper-pagination-bullet-inactive-opacity, 0.6);
}
.swiper-pagination-bullet-active {
    opacity: var(--swiper-pagination-bullet-opacity, 1);
    background: green;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: var(--swiper-pagination-bottom,25px);
    top: var(--swiper-pagination-to);
    left: 0;
    width: 100%;
}
.close-swiper {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  transition: 0.5s all ease;
  animation: rot 3s infinite linear;
  padding: 5px;
}
@keyframes rot {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.close-swiper:hover {
  transition: 0.5s all ease;
  font-size: 32;
  color: green;
  opacity: 0.8;
  cursor: pointer;
}
.swiper-gallary {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 1000; 
}
.swiper-gallary:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #332c4c;
    opacity: 0.9;
  }
.swiper-custom-wrapper {
  height: 60%;
  width: 90%;
}
.swiper-custom-wrapper .gallery-item {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery-item img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery-item {
  width: 60%;
}

.gallery-item:nth-child(2n) {
  width: 40%;
}
/*
.gallery-item:nth-child(3n) {
  width: 20%;
}
*/
/*Slick gallery end*/

/*Reviews section start*/
.reviews {
  background-color: #ededed;
  padding: 30px 0px;
}
.swiper-reviews {
  width: 100%;
  min-height: 200px;
  max-height: 250px;
}
.reviews-item {
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0px 20px;
}
.reviews-body {
  overflow-wrap: anywhere;
  padding: 0px 20px;
  hyphens: auto;
  font-size: 25px;
  font-family: "Caveat", cursive;
  width: 80%;
}
.reviews-name {
  font-weight: bold;
}
.swiper-pagination-vertical.swiper-pagination-bullets, .swiper-vertical>.swiper-pagination-bullets {
  right: var(--swiper-pagination-right,0px);
}
.wrap-reviews-btn {
  text-align: center;
}
.wrap-reviews-btn .btn-primary {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  position: relative;
  bottom: 0;
  left: 0;
  background-color: #65ab36;
  border: none;
  border-radius: 20px;
  transition: 0.5s all ease;
  color: #fff;
  border-radius: 20px;
}
.wrap-reviews-btn .btn-primary:focus {
  box-shadow: none;
}
.btn-animation {
  animation: custom 3s infinite linear;
}
@keyframes custom {
  from {
    bottom: 0px;
  }
  25% {
    bottom: -5px;
  }
  50% {
    bottom: -10px;
  }
  75% {
    bottom: -5px;
  }
  to {
    bottom: 0px;
  }
}
#review-form {
  margin: 0px;
}
.wrap-form-reviews {
  display: none;
  padding: 15px 0px;
}
/*Reviews section end*/
/*Smiles section start*/
.smiles {
  background-color: #ededed;
  padding: 40px 0px;
  text-align: center;
  box-shadow: 0px 4px 18px -6px #000;
  position: relative;
}
.quantity-ad-wrap {
  font-size: 40px;
  font-weight: bold;
  padding: 0px 10px;
  color:  #65ab36;
}
.wrap-smiles {

}
.smiles-title {
  font-weight: bold;
  font-size: 50px;
}
.dentalex-ad-body {
  font-size: 30px;
  font-family: "Caveat", cursive;
}
.dentalex-ad-body-quantity {
  color: #65ab36
  font-size: 50px;
  line-height: 1.5;
}
/*Smiles section end*/

/*Service price start*/
.service-price-val .val {
  color: #65ab36;
}
/*Service price end*/
/*@import './untils/variables'*/
@media only screen and (max-width: 400px) {
  .geolocation-popup {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 20;
  }
  .geolocation-popup:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #332c4c;
    opacity: 0.5;
  }
  .geolocation-popup .wrap-maps {
    position: absolute;
    width: 300px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .geolocation-popup .wrap-maps .close-map {
    position: absolute;
    top: -50px;
    right: 50% !important;
    transform: translateX(50%) !important;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    background-color: #000;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s all ease;
  }
  .geolocation-popup .wrap-maps .close-map:hover {
    transition: 0.5s all ease;
    transform: rotate(180deg);
  }
  .geolocation-popup .wrap-maps .maps {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 300px;
    z-index: 10;
  }
  .geolocation-popup .wrap-maps .maps iframe {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .geolocation-popup {
    display: none;
    position: fixed;
    width: 100%;
    min-height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 20;
  }
  .geolocation-popup:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #332c4c;
    opacity: 0.5;
  }
  .geolocation-popup .wrap-maps {
    position: absolute;
    width: 350px;
    height: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .geolocation-popup .wrap-maps .close-map {
    position: absolute;
    top: -50px;
    right: 50% !important;
    transform: translateX(50%) !important;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    background-color: #000;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    transition: 0.5s all ease;
  }
  .geolocation-popup .wrap-maps .close-map:hover {
    transition: 0.5s all ease;
    transform: rotate(180deg);
  }
  .geolocation-popup .wrap-maps .maps {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 350px;
    height: 300px;
    z-index: 10;
  }
  .geolocation-popup .wrap-maps .maps iframe {
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 902px) {
  .callback-center-form {
    width: 70%;
  }
}
@media only screen and (max-width: 768px) {
  .navigation {
    display: none;
  }
  .wrap-offers-item {
    flex-direction: column;
    justify-content: space-around;
  }
  .wrap-social-widget-top {
    display: none !important;
  }
  .wrap-logo {
    display: none !important;
  }
  .contacts-address {
    margin: 20px 0px;
  }
  .contacts-address .ours-contacts {
    color: #fff;
    text-align: center;
  }
  .contacts-address ul li {
    margin: 10px 0px;
    font-size: 20px;
    color: #fff;
  }
  .offers .wrap-offers-item .offers-item .offers-item-inner a {
    font-size: 39px;
    color: #65ab36;
    text-shadow: 2px 0 4px #240e0d;
  }
  .reviews-item {
    flex-direction: column;
  }
  .callback-btn {
    right: 20px;
  }
  .callback-form__submit {
    margin-top: 20px;
  }
  .callback-center-form {
    margin-top: -180px;
    width: 70%;
  }
  .callback-form__phone-wrap {
    max-width: 220px;
  }
  .mm-listitem__text {
    white-space: normal;
  }
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #header {
    display: none;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  .wrap-navbar .navigation li a {
    padding: 20px 5px;
  }
  .wrap-navbar .navigation {
    height: 100%;
  }
  .wrap-navbar .navigation:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  .wrap-navbar .navigation li {
    vertical-align: middle;
  }
  .wrap-logo {
    height: 100%;
    display: flex;
  }
  .wrap-logo .logo {
    margin: auto;
    display: inline-block;
  }
  .wrap-logo .logo img {
    display: block;
    height: 40px !important;
  }
}
@media only screen and (min-width: 1200px) {
  .navigation li a, .navigation li .lang {
    font-size: 21px;
  }
}
@media only screen and (min-width: 1600px) {
  .banner-carousel-item {
    height: 570px;
  }
  .reviews-body {
    font-size: 30px;
  }
}